<div class="about-page">
    <h2>Acerca de nosotros</h2>
        <div>
            <p>Somos un equipo de estudiantes de la Universidad Internacional de La Rioja (UNIR) apasionados por la creación de aplicaciones web. Este proyecto es parte de nuestro Trabajo de Fin de Máster (TFM), y nuestro objetivo es proporcionar una herramienta útil y eficiente que mejore la experiencia de los usuarios. Cada uno de nosotros ha aportado sus habilidades y conocimientos únicos para hacer de "FairSplit" una herramienta útil y eficiente para compartir gastos. Estamos orgullosos de lo que hemos logrado juntos y esperamos que nuestra aplicación sea de gran utilidad para ustedes.</p>
            <h3>Equipo de desarrollo:</h3>
            <ul>
                <li>Victor Gómez Luque</li>
                <li>Kevin Santiago Morales Giraldo</li>
                <li>Victor Luque Moreno</li>
                <li>Pedro José Fernández Merlo</li>
                <li>Diego Darío Ortiz Soto</li>
                <li>Cristian Requena Peregrina</li>
            </ul>
            <p>El proyecto que estamos desarrollando para nuestro TFM es una aplicación web para compartir gastos con amigos, llamada "FairSplit". Esta aplicación permite a los usuarios registrar y dividir los gastos de manera eficiente cuando participan en actividades grupales como viajes, cenas, alquiler de viviendas y más. Los usuarios pueden agregar gastos, indicar quién los pagó y especificar cómo se deben dividir. Luego, "FairSplit" calcula cuánto debe cada persona y facilita el seguimiento de los pagos. Nuestro objetivo es simplificar el proceso de compartir gastos y eliminar las complicaciones asociadas con el manejo del dinero en grupo.</p>
            <p>Creemos que "FairSplit" tiene el potencial de transformar la manera en que los grupos de amigos manejan los gastos compartidos. Al simplificar el proceso de seguimiento y división de gastos, nuestra aplicación puede ayudar a prevenir desacuerdos y malentendidos sobre el dinero, que a menudo pueden causar tensión en las relaciones. Además, al automatizar los cálculos y proporcionar un registro claro de quién debe qué, "FairSplit" puede ahorrar a los usuarios tiempo y esfuerzo que de otra manera tendrían que dedicar a manejar estos asuntos manualmente. En última instancia, esperamos que nuestra aplicación permita a los usuarios disfrutar más de sus actividades en grupo, sin tener que preocuparse por los aspectos financieros.</p>
            <p>Estamos emocionados de compartir nuestro trabajo con ustedes y esperamos que encuentren nuestra aplicación útil. Si tienen alguna pregunta o comentario, no duden en <a [routerLink]="['/contact']">contactarnos <i class="fa-solid fa-pencil"></i></a>.</p>
        </div>
</div>
