<h3>¿Por qué elegir FairSplit?</h3>
<div class="caracteristicas">
    <div class="caracteristicas-content">
        <img src="../../assets/caracteristicas-home/grupos.png" alt="grupos">
        <p class="title">Gestión de Grupos: </p>
        <p class="subtitle">"Crea y gestiona múltiples grupos de gastos para diferentes propósitos."</p>
    </div>
    <div class="caracteristicas-content">
        <img src="../../assets/caracteristicas-home/amigos.png" alt="amigos">
        <p class="title">Invita a Amigos:</p>
        <p class="subtitle">"Invita a tus amigos y familiares a unirse a tus grupos de gastos."</p>
    </div>

    <div class="caracteristicas-content">
        <img src="../../assets/caracteristicas-home/divison.png" alt="divison">
        <p class="title">División Personalizada:</p>
        <p class="subtitle">"Asigna porcentajes personalizados de gastos a cada miembro del grupo."</p>
    </div>
    <div class="caracteristicas-content">
        <img src="../../assets/caracteristicas-home/pagos.png" alt="pagos">
        <p class="title">Seguimiento de Pagos: </p>
        <p class="subtitle">"Lleva un control preciso de cuánto debe y ha pagado cada integrante."
        </p>
    </div>
    <div class="caracteristicas-content">
        <img src="../../assets/caracteristicas-home/notificacion.png" alt="pagos">
        <p class="title">Notificaciones y Recordatorios: </p>
        <p class="subtitle">"Recibe notificaciones sobre pagos pendientes y recordatorios automáticos."</p>

    </div>
</div>

<div class="separador"></div>