<div class="banner">
    <div class="banner-content">
        <h1>FairSplit</h1>
        <p>La mejor APP para compartir gastos con <span class="palabras"
                data-array="tu pareja,tus amigos, tu familia"></span>
        </p>
        <p>Somos un equipo de estudiantes de la Universidad Internacional de La Rioja (UNIR) apasionados por la creación
            de aplicaciones web. Este proyecto es parte de nuestro Trabajo de Fin de Máster (TFM), y nuestro objetivo es
            proporcionar una herramienta útil y eficiente que mejore la experiencia de los usuarios. Cada uno de
            nosotros ha aportado sus habilidades y conocimientos únicos para hacer de "FairSplit" una herramienta útil y
            eficiente para compartir gastos. Estamos orgullosos de lo que hemos logrado juntos y esperamos que nuestra
            aplicación sea de gran utilidad para ustedes.
        </p>
        <div class="nav-li">
            <a class="button login" [routerLink]="['/login']">Iniciar Sesión</a>
            <a class="button register" [routerLink]="['/register']">Registrate</a>
        </div>
    </div>
    <div class="banner-img">

    </div>
</div>