<div class="footer">
    <div class="footer-content">
        <div class="about-more">
            <a [routerLink]="['/welcome']" > <img
                    src="../../../assets/img/logo.svg"
                    alt="logo">
            </a>
        </div>
        <div class="footer-account">
            <h4>Account</h4>
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/register']">Register</a>
            <a [routerLink]="['/register']">Restablecer contraseña </a>
            <a [routerLink]="['/#']">Configuración</a>
        </div>
        <div class="footer-about">
            <h3>Account</h3>
            <a [routerLink]="['/about']">Sobre Nostros</a>
            <h4>Integrantes</h4>
            <a [routerLink]="['/#']">Victor Gomez</a>
            <a [routerLink]="['/#']">Victor Luque</a>
            <a [routerLink]="['/#']">Cristian </a>
            <a [routerLink]="['/#']">Pedro</a>
            <a [routerLink]="['/#']">Diego </a>
            <a [routerLink]="['/#']">Kevin</a>
        </div>
        <div class="footer-more">
            <h3>Más</h3>
            <a [routerLink]="['/#']">Contacto</a>
            <a [routerLink]="['/#']">FAQ</a>
            <div class="xxss">
                <a href="">Instagram</a>
                <a href="">twitter</a>
                <a href="">Facebook</a>
            </div>
        </div>
    </div>
</div>