<h3>¿Cómo funciona FairSplit?</h3>
<div class="funciones">
    <div class="funcion">
        <h4 class="title"><span>1</span></h4>
        <p>Regístrate y crea un grupo de gastos.</p>
    </div>

    <div class="funcion">
        <h4 class="title"><span>2</span></h4>
        <p>Invita a tus amigos a unirse al grupo.</p>

    </div>
    <div class="funcion">
        <h4 class="title"><span>3</span></h4>
        <p>Añade los gastos y asigna los porcentajes.</p>

    </div>
    <div class="funcion">
        <h4 class="title"> <span>4</span></h4>
        <p>Monitorea quién ha pagado y quién debe dinero.</p>

    </div>
</div>

<div class="separador"></div>